section#reactions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.reactions {
  display: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  padding: 5px;
  list-style-type: none;
  border-radius: 100px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.reactions .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
  background-image: url(/website_reactions/static/src/img/reactions.png);
  background-repeat: no-repeat;
  text-decoration: none;
  cursor: pointer;
  -webkit-transform: scale(0.8) translate(0, 0);
          transform: scale(0.8) translate(0, 0);
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}
.reactions .item:before {
  content: attr(data-text);
  display: none;
  color: #FFFFFF;
  font-size: 0.8em;
  border-radius: 100px;
  padding: 3px 10px;
  margin-top: -25px;
  background: rgba(0, 0, 0, 0.8);
}
.reactions .item:hover {
  -webkit-transform: scale(1) translate(0, -6px);
          transform: scale(1) translate(0, -6px);
}
.reactions .item:hover:before {
  display: block;
}
.reactions .item.item-like {
  background-position: 0 -144px;
}
.reactions .item.item-dislike {
  background-position: 0 -384px;
}
.reactions .item.item-love {
  background-position: 0 -192px;
}
.reactions .item.item-haha {
  background-position: 0 -96px;
}
.reactions .item.item-wow {
  background-position: 0 -288px;
}
.reactions .item.item-sad {
  background-position: 0 -240px;
}
.reactions .item.item-angry {
  background-position: 0 0;
}
.no-animation:not(:first-child) {
    margin-left: -10px;
}
.no-animation:last-child {
    padding-rigth: 10px;
}
.no-animation {
  border-radius: 50%;
  border: 2px solid white;
  -webkit-transform: none !important;
          transform: none !important;
}
.no-animation:before{
  content: none !important;
}
.no-border {
  border-radius: 0 !important;
  box-shadow: none !important;
}
.reaction-detail {
  padding: 12px 0;
}
.index-7 {
  z-index: 7;
}
.index-6 {
  z-index: 6;
}
.index-5 {
  z-index: 5;
}
.index-4 {
  z-index: 4;
}
.index-3 {
  z-index: 3;
}
.index-2 {
  z-index: 2;
}
.index-1 {
  z-index: 1;
}
