<openerp>
	<data>

		<record id="action_course_list" model="ir.actions.act_window">
			<field name="name">Daftar Course</field>
			<field name="res_model">academic.course</field>
			<field name="view_mode">tree,form</field>
			<field name="help" type="html">
              <p class="oe_view_nocontent_create">
                Click to add a Course
              </p>				
				<p>klik tombol create untuk bikin Course baru</p>
			</field>
		</record>

		<menuitem id="academic_0" name="Academic" sequence="10"/>
		
		<menuitem id="academic_1" name="Academic" sequence="10" parent="academic_0"/>

		<menuitem id="academic_1_1"
		 action="action_course_list"
		 name="Course"
		 sequence="10"
		 parent="academic_1"/>


	</data>
</openerp>