.s_latest_posts .media.media_list_template .pull-left {
  height: 200px;
  width: 100%;
}
.s_latest_posts .media.media_list_template .pull-left a,
.s_latest_posts .media.media_list_template .pull-left .media-object {
  height: 100%;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .s_latest_posts .media.media_list_template .pull-left {
    height: 100px;
    width: 100px;
  }
}
.s_latest_posts .media.media_list_template .media,
.s_latest_posts .media.media_list_template .media-body {
  overflow: visible;
}
@media (min-width: 768px) {
  .s_latest_posts .media.media_list_template .media,
  .s_latest_posts .media.media_list_template .media-body {
    overflow: hidden;
  }
}
