@import url(http://fonts.googleapis.com/css?family=roboto:300,400);

ul.countdown {
  list-style: none;
  padding: 0;
  display: block;
  text-align: center;
}

ul.countdown li { display: inline-block; }

ul.countdown li span {
  font-size: 23px;
  font-weight: 300;
  line-height: 30px;
  padding: 0 5px;
  border-top: 1px solid #428bca;
  border-bottom: 1px solid #357ebd;
  margin-left: -4px;
}

ul.countdown li p {
  color: #a7abb1;
  font-size: 11px;
  text-transform: uppercase;
  margin-top: 13px;
}

.days {
  background-color: #428bca;
  padding: 0 10px;
  color: #fff;
}

.last { border-right: 1px solid #357ebd; }
 
@media screen and  (max-width: 320px){
.countdown li span {
  font-size: 25px !important;
  }
 }
