
/*service block color*/
.service{ background:#46607f;}
.service h2{color:#FFFFFF;}
.service ul li figure figcaption h3{ color:#FFFFFF;}
.service ul li figure figcaption p{ color:#addbff;}

/* for service header*/
.service h2{ width:100%; text-align:center; font-size:30px; text-transform:uppercase; 	font-family:'LaoUI-Bold'; padding:0 0 50px 0;     background: url("/theme_mercury/static/src/css/../images/h-border-bott.jpg") no-repeat scroll center 42px transparent;}


 p{ font-size:14px; line-height:normal;}
/*for service bolck style*/
.service{ width:100%; display:table; padding:110px 0 63px;}

/*for applying font style in paragrapph*/
.service ul li figure figcaption p{ font-family:'Lao UI';}
.service ul li figure figcaption p{ font-style: normal; font-size:15px;}


/*for applying service snippet*/
.service .mt16{ width:31%; display:table; text-align:center; padding:34px 0px 10px 0px;}
.service .mt16  li{ list-style:none; width:100%; padding:0 0.5%; text-align:left; display:inline-block; margin:0px 0 30px 0px;}
.service .mt16  li figure{ width:100%; padding:0; margin:0;}
.service .mt16  li figure img{ float:left; margin:0 20px 0 0; display: block; height: 89px;  width: 78px;}
.service .mt16  li figure figcaption{ float:left; width:66%;}
.service .mt16  li figure figcaption h3{ font-size:17px; line-height:normal; text-transform:uppercase; width:100%;  overflow:hidden; margin:0; word-break: break-all; }
.service .mt16  li figure figcaption p{ line-height:normal;font-family:'Lao UI'; font-style: normal; font-size:15px; width:100%;  overflow:hidden; word-break: break-all;}
/*.service .row {margin-left:102px; margin-right:83px; }*/

.service .mt16 h2{color:#FFFFFF;}
.service  .mt16 li figure figcaption h3{ color:#FFFFFF;}
.service  .mt16 li figure figcaption p{ color:#addbff;}


@font-face {
	font-family:'LaoUI-Bold';
	src: url('../fonts/LaoUI-Bold_gdi.eot');
	src: url('../fonts/LaoUI-Bold_gdi.eot?#iefix') format('embedded-opentyp	e'),
		url('../fonts/LaoUI-Bold_gdi.woff') format('woff'),
		url('../fonts/LaoUI-Bold_gdi.ttf') format('truetype'),
		url('../fonts/LaoUI-Bold_gdi.svg#LaoUI-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-25CA;
}
@font-face {
	font-family: 'Lao UI';
	src: url('../fonts/LaoUI.eot');
	src: url('../fonts/LaoUI.eot?#iefix') format('embedded-opentype'),
		url('../fonts/LaoUI.woff') format('woff'),
		url('../fonts/LaoUI.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
.about {display: table; width: 100%; text-align: center; padding: 80px 0; margin-top: 20px;}
.about h2{ width:100%; text-align:center; font-size:30px; text-transform:uppercase; font-family:'LaoUI-Bold'; padding:0 0 50px 0; background:url("../images/h-border-bott.jpg") no-repeat scroll center 42px transparent; }
.about .heading h2 { background:none; font-family: "LaoUI-Bold"; font-size: 30px; padding:0; text-align:left; text-transform: none; width: 100%;}

/*for about us block*/
.about .mt16  { display:inline-block; padding-top: -4px; padding-left:34px;  padding-bottom: 4px; height:70px; margin:0; list-style:none; text-align:center;  float:left; display:table;}
.about .mt16   li{ display:inline-block; padding-bottom: 20px; height:70px; margin:0; list-style:none; text-align:center; padding-right: 4px;  width:103%; float:left; display:table; }
.about .mt16   li h3{ font-size:21px; text-transform:uppercase; width:100%; text-align:center; padding:5px 0 0 0; word-break:break-all;}
.about .mt16   li p{ width:90%; text-align:center; font-size:14px; line-height:normal; margin:0 auto; word-break:break-all;}
.about .mt16   li i{ width:78px; height:89px; background:url(../images/about-icon-bg.png) no-repeat top center; margin: auto; display:block; color:#fff; }

/*for about us images*/
.about .fa-user:before { content: "\f007"; font: normal normal normal 42px/2 FontAwesome;}
.about .fa-cogs:before { content: "\f085"; font: normal normal normal 42px/2 FontAwesome;}
.about .fa-rocket:before {content: "\f135"; font: normal normal normal 42px/2 FontAwesome;}
.about .fa-calendar:before {content: "\f073"; font: normal normal normal 35px/2.6 FontAwesome;}
.about .row{margin-left:-75px;}
/* for caption in slider*/
body .banner .carousel .carousel-caption h1 {
    font-weight: bold;
    display: inline-block;
    font-family: 'Lao UI';
    font-size: 45px;
    margin:40px 35% 400px 40px;
    width:720px;
}
.carousel-caption h1 {
    color: rgb(255, 255, 255);
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.4);}


.carousel-caption h1 {
    line-height: 55px;
    padding: 0px 30px 8px;
}
.carousel-inner .figcaption h1{ position:relative;}

div.carousel .container > .carousel-caption {
    position: relative;
    margin-top:-500px;
    right: 20%;
    left: 12%;
    bottom: 3px;
}
.carousel-control .fa {
    color: rgb(35, 142, 225);
}
.carousel
 position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
   text-align:center;
}
body .banner .carousel .fa-chevron-left {
    margin-left: -122px;
}

/*for hover*/
.carousel-control:focus, .carousel-control:hover {
    outline: 0px none;
    opacity: 0.5;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
/*for background image of <*/
.carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0px, transparent 100%);
    background-repeat: repeat-x;
}

.carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0px, transparent 100%);
    background-repeat: repeat-x;
     height: 100px;
     top: 295px;
}
/*for size of < */
.carousel-control .fa {
    font: 45px/1 FontAwesome;
}

.carousel-control {
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-control .fa:hover {
    color: rgb(86, 86, 86);
    outline: medium none;
}


/*for testinomial*/
.testimonials {width: 100%; padding:80px 0; display:table; margin-top:20px;}

.testimonials h2{ width:100%; text-align:center; font-size:30px; text-transform:uppercase; font-family:'LaoUI-Bold'; padding:0 0 50px 0; background:url("../images/h-border-bott.jpg") no-repeat scroll center 42px transparent; }
.testimonials .heading h2 { background:none; font-family: "LaoUI-Bold"; font-size: 30px; padding:0; text-align:left; text-transform: none; width: 100%;}

/* for testinomial color*/
.testimonials .box-img img {
    border-radius: 90% 90% 90% 90%;
    border:1px solid rgb(204, 204, 204);
    width: 33%;
}

/*for snippet*/
.testimonials .mt8 ul li h3{ color:#787878; background:url(../images/testimonials-h-border-b.png) no-repeat bottom center;}
.testimonials .mt8  ul li p{color:#787878;}
.testimonials .mt8  ul li h3{background:url(../images/testimonials-h-border-b.png) no-repeat bottom center; }

.testimonials .mt8{ width:33%; display:table;margin-top:20px;}

.testimonials .mt8 ul  li{ list-style:none;width:96%; display:inline-block; border:solid 1px; margin-left:56px; text-align:center; margin-top:18px;margin-right:30; box-sizing:inherit;  border-color:#ccc; border-top:solid 3px #2089d4;}
.testimonials .mt8 ul li:first-child{ margin-left:0;}
.testimonials .mt8  ul li h3{ font-size:18px; line-height:normal; text-align:center; padding:12px 10px 25px; font-weight:normal; word-break: break-all;}
.testimonials .mt8 ul li figure{ padding:18px 0 33px; margin:0; width:100%; text-align:center;}
#testimonials .mt8 ul li figure span{word-break:break-all; display:block; }
.testimonials .mt8 ul li p{ font-size:18px; width:100%; text-align:center; word-break:break-all;}

/*for round image*/
.testimonials .mt8 ul .box-img img {
    border-radius: 90% 90% 90% 90%;
    border:1px solid rgb(204, 204, 204);
    width: 33%;
}

/*for projects*/
.our-projects .mt8{ padding:0 5px; }
.our-projects .mt8 ul{ width:98%; display:table; text-align:center; margin-top:40px; padding:0 5px;}
.our-projects .mt8 ul li{ list-style:none; display:inline-block; width:100%; margin:0; padding:0; margin-bottom:17px; border:solid 1px; position:relative; height:271px; overflow:hidden; vertical-align: middle; }
.our-projects .mt8 ul li img{ max-height:100%;position: absolute; margin: auto;top: 0; left: 0;right: 0;
 bottom: 0;}
.our-projects .mt8 ul li span{ width:100%; height:100%; position:absolute; left:0; top:0; z-index:9; cursor:pointer; opacity:0; -webkit-transition: background-color 0.5s ease-out; -moz-transition: background-color 0.5s ease-out; -o-transition: background-color 2s ease-out; transition: background-color 0.5s ease-out; transition:color 0.5s ease-out; -webkit-transition:color 0.5s ease-out; -moz-transition:color 0.5s ease-out; -o-transition:color 0.5s ease-out; font-size: 150px;     padding-top: 53px;}
.our-projects .mt8 ul li span:hover{opacity:1; }
.our-projects .mt8 ul li{ border-color: #46607f; background:#ececec;}
.our-projects .mt8 ul li span:hover{ background:rgba(0, 0, 0, 0.4); color:#238ee1}
.modal-body .form-control{  height:43px !important; line-height:28px !important}

.our-projects h2{ width:100%; text-align:center; font-size:30px; text-transform:uppercase; font-family:'LaoUI-Bold'; padding:0 0 50px 0; background:url("../images/h-border-bott.jpg") no-repeat scroll center 42px transparent; }
.our-projects .heading h2 { background:none; font-family: "LaoUI-Bold"; font-size: 30px; padding:0; text-align:left; text-transform: none; width: 100%;}
/* for menu logo*/
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -73px;
}

.oe_dark .oe_picture {
    margin: 16px 0% !important;
}

.service .animation-element:nth-of-type(3n-2){ width:100%; padding:0; margin:0; }

.footer-bottom ul li i{ line-height:48px;}

#oe_snippets #o_left_bar ul li {padding: 0px 0px !important;}

#myCarousel { padding-top: 0px;}
.carousel .carousel-control.right{background:none; color:#1c81ce; left:auto; right:100px; z-index:999;}
.carousel .carousel-control.left{background:none; }
#wrapwrap > main{ display:table; margin:0 auto;  margin-top:97px; }
.navbar-static-top{position:fixed;  right: 0px; left: 0px; }


.about{ padding-top:120px; }
.service{ padding-top:120px; }
.our-projects{ padding-top:130px;}
.testimonials{padding-top:120px;}

#theme_testi li a{color:#353535; font-size:14px; padding:5px 0 5px 20px; display:block; }
#theme_testi li a:hover{text-decoration: none;  color: #fff; background-color: #238ee1;}

#wrapwrap > main {width: 100%; height:300px;}
.navbar-default .navbar-brand:hover{color: #000;}


#wrapwrap {display: table; table-layout: auto; width: 100%;}