/* FA-(@i)x
========================================================================== */
/* BLOCKQUOTE
========================================================================== */
/* CAROUSEL
========================================================================== */
.VAlignMiddle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.VAlignTop {
  float: none;
  display: table-cell;
  vertical-align: top;
}
/* ====================== button ======================== */
