.s_color_blocks_slider {
  width: 100%;
}
.s_color_blocks_slider .s_color_blocks_slider_img {
  padding: 0;
}
.s_color_blocks_slider .s_color_blocks_slider_content {
  padding: 8% 5%;
  height: auto;
}
.s_color_blocks_slider .s_color_blocks_slider_content .fa {
  color: white;
}
.s_color_blocks_slider .s_color_blocks_slider_content img {
  max-width: 100%;
  height: auto;
}
