.s_cubes .cube {
  min-height: 200px;
}
.s_cubes .cube h3 {
  text-align: center;
}
.s_cubes .cube h4 {
  padding-bottom: 20px;
}
.s_cubes .cube .cube-heading {
  position: relative;
  top: 25%;
}
.s_cubes .cube > .row {
  height: 50%;
}
.s_cubes .cube-big {
  height: 600px;
}
@media screen and (max-width: 640px) {
  .s_cubes .cube-big {
    height: auto;
  }
}
.s_cubes .cube-big .cube-heading {
  position: relative;
  top: 25%;
}
.s_cubes .cube-big:first-child {
  min-height: 600px;
}
.s_cubes .cube-small,
.s_cubes .cube-text {
  height: 300px;
}
