.s_progress > div > .row > div {
  border-left-width: 1px;
  border-left-style: solid;
}
@media only screen and (max-width: 768px) {
  .s_progress > div > .row > div {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 0;
  }
}
.s_progress > div > .row > div:first-child {
  border-left-width: 0;
}
.s_progress > div > .row > div:last-child .process {
  color: rgba(0, 0, 0, 0);
}
.s_progress .fa {
  font-size: 60px;
}
.s_progress .icon-container {
  max-width: 250px;
}
.s_progress .progress-iconset {
  padding: 10px;
  text-align: center;
  min-height: 230px;
}
@media only screen and (max-width: 768px) {
  .s_progress .progress-iconset {
    min-height: 50px;
  }
}
.s_progress .progress-iconset:after,
.s_progress .progress-iconset:before {
  content: " ";
  display: block;
  width: 50%;
  height: 50px;
  border-right: 1px solid silver;
  margin: 10px 0;
}
.s_progress .progress-iconset:before {
  display: none;
}
.s_progress .progress-content ~ .progress-iconset:after {
  display: none;
}
.s_progress .progress-content ~ .progress-iconset:before {
  display: block;
}
.s_progress .process {
  font-size: 25px;
  height: 25px;
  text-align: right;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .s_progress .process {
    display: none;
  }
}
.s_progress .progress-content {
  padding: 10px 25px;
  min-height: 230px;
}
@media only screen and (max-width: 768px) {
  .s_progress .progress-content {
    min-height: 50px;
  }
}
.s_progress .progress-content h1 {
  margin-top: 0;
}
