.s_text_big_picture {
  padding: 50px 0;
}
.s_text_big_picture .hero-paragraph {
  padding: 0px 40px;
  text-align: left;
}
.s_text_big_picture .hero-paragraph h1 {
  font-weight: 900;
}
@media only screen and (max-width: 1024px) {
  .s_text_big_picture .hero-paragraph h1 {
    font-size: 25px;
    font-weight: 900;
  }
}
@media only screen and (max-width: 1024px) {
  .s_text_big_picture .hero-paragraph h2 {
    font-size: 20px;
  }
}
.s_text_big_picture .hero-paragraph p {
  font-size: 16px;
}
@media only screen and (max-width: 1024px) {
  .s_text_big_picture .hero-paragraph p {
    font-size: 14px;
  }
}
.s_text_big_picture .hero-image {
  padding-left: 0px;
  padding-right: 0px;
  float: right;
}
.s_text_big_picture .hero-image img {
  width: 100%;
}
