.openerp .oe_leftbar > div .oe_footer, body.oe_single_form .oe_single_form_footer{
	display:none !important;
}

.navbar-inverse{
	/* background-color:#3D8CFF;#5BD8EB 2DACEF*/
	background-color:#6d295a;
	border-color:#6d295a;
	border-top:0;
	box-shadow: 0px 3px 3px #888888;
}

.navbar-inverse .navbar-nav > li > a{
	color:#fff;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
	background-color:#B576A4;
	font-weight:bold;
	color:white;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
	background-color:#21B799;
	font-weight:bold;
}
.openerp .oe_view_manager_current > .oe_view_manager_header {
    background-color: #21B799;
    background-image: linear-gradient(to bottom, #ffffff, #f6f6f6);
}

.oe_view_manager_wrapper{
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 9px rgba(0, 0, 0, 0.1);
}
.openerp .oe_login button, .openerp button.oe_highlight{
	background-color: #21B799;

}
.openerp button.oe_highlight:hover{
	background-color: #38C9AC;
}

.openerp .oe_secondary_menu_section {
  font-weight: bold;
  margin-left: 8px;
  color: #6d295a;
}
.openerp .oe_secondary_menu_section > .oe_menu_leaf {
  font-weight: bold;
  color: #6d295a;
}
.openerp .oe_form_field_many2one .oe_m2o_cm_button {
  line-height: 27px;
  float: right;
  padding-left: 2px;
  font-size: 19px;
  color: #6d295a;
  cursor: pointer;
}

.openerp .nav-pills > li.active > a, .openerp a.list-group-item.active > a {
  background-color: #B5B5B5;
  color: white;
  border-radius: 0;
}
.openerp .nav-pills > li.active a:hover, .openerp .nav-pills > li.active a:focus, .openerp a.list-group-item.active a:hover, .openerp a.list-group-item.active a:focus {
  background-color: #21B799;
}
.openerp .nav-pills > li.active .badge, .openerp a.list-group-item.active .badge {
  background-color: white;
  color: #6d295a;
  text-shadow: none;
}
.openerp .badge {
  font-weight: normal;
  font-size: 11px;
  background-color: #6d295a;
}

.openerp .oe_pivot.oe-enable-linking td:noat(.oe-closed):not(.oe-opened):not(.oe-empty):hover {
  color: #21B799;
}

.openerp ul.oe_form_status li.oe_active, .openerp ul.oe_form_status_clickable li.oe_active {
  background-color: #21B799;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#A2EBDC), to(#13AB8C));
  background-image: -webkit-linear-gradient(top, #A2EBDC, #13AB8C);
  background-image: -moz-linear-gradient(top, #A2EBDC, #13AB8C);
  background-image: -ms-linear-gradient(top, #A2EBDC, #13AB8C);
  background-image: -o-linear-gradient(top, #A2EBDC, #13AB8C);
  background-image: linear-gradient(to bottom, #A2EBDC, #13AB8C);
}
.openerp ul.oe_form_status li.oe_active > .arrow span, .openerp ul.oe_form_status_clickable li.oe_active > .arrow span {
  background-color: #21B799;
  background: -moz-linear-gradient(135deg, #A2EBDC, #13AB8C);
  background: -o-linear-gradient(135deg, #A2EBDC, #13AB8C);
  background: -webkit-gradient(linear, left top, right bottom, from(#A2EBDC), to(#13AB8C));
  background: -ms-linear-gradient(top, #A2EBDC, #13AB8C);
}

.openerp .ui-widget-content a {
  color: #6d295a;
}

.openerp .oe_stat_button .o_button_icon {
  color: #6d295a;
  font-size: 24px;
  padding: 0px 3px;
  width: 37px;
  text-align: center;
}
.openerp .oe_horizontal_separator {
  font-weight: bold;
  font-size: 20px;
  margin: 15px 0px 10px 0px;
  color: #6d295a;
}

.openerp ul.oe_form_status_clickable li.oe_active:hover {
  background-color: #6d295a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#A2EBDC), to(#13AB8C));
  background-image: -webkit-linear-gradient(top, #A2EBDC, #13AB8C);
  background-image: -moz-linear-gradient(top, #A2EBDC, #13AB8C);
  background-image: -ms-linear-gradient(top, #A2EBDC, #13AB8C);
  background-image: -o-linear-gradient(top, #A2EBDC, #13AB8C);
  background-image: linear-gradient(to bottom, #A2EBDC, #13AB8C);
}

.openerp ul.oe_form_status_clickable li.oe_active:hover > .arrow span {
  background-color: #6d295a;
  background: -moz-linear-gradient(135deg, #A2EBDC, #13AB8C);
  background: -o-linear-gradient(135deg, #A2EBDC, #13AB8C);
  background: -webkit-gradient(linear, left top, right bottom, from(#A2EBDC), to(#13AB8C));
  background: -ms-linear-gradient(top, #A2EBDC, #13AB8C);
}








body {
    background-color: rgba(0,0,0,0); 
	background-image : url("images/background_1.jpg");
	background-size:cover;
	color: #2f2e2e;
}

.modal .modal-dialog .modal-content {
    /*background: rgba(231, 255, 231,1); */
	background-image : url("images/background_1.jpg");
}

.openerp .oe_form_sheet {
    background-color: rgba(231, 255, 231,1) ;
	border-radius:5px;
	background-image : url("images/background_1.jpg");
}


.openerp{
	background-color: rgba(0,0,0,0); 
}

.openerp .oe_leftbar{
	 background-color: rgba(0,0,0,0); 
}

.openerp .oe-control-panel{
	 background-color: rgba(0,0,0,0); 
}

.oe-view-manager {
     background-color: rgba(0,0,0,0) !important; 
}

.oe_list {    
	 background-color: rgba(0,0,0,0)  !important; 
}


.openerp .oe_list_content > tbody > tr:nth-child(odd) {
    background-color: rgba(255,255,255,0.6); 
	background-image: none;
}
.openerp .oe_list_content > tbody > tr {
      background-color: rgba(255,255,255,0.4); 
	  background-image: none;
}

.openerp .oe_formview {
    background-color: rgba(0,0,0,0); 
}

.openerp .oe-control-panel .oe-view-title {
     background-color: rgba(0,0,0,0); 
}

 
.o_kanban_view {
     background-color: rgba(0,0,0,0); 
}

.o_kanban_view .o_kanban_record {
     background-color: rgba(255,255,255,0.3) !important; 
}

.openerp .nav-pills > li.active > a, .openerp a.list-group-item.active > a {
    background-color: #627565; 
}

.breadcrumb > .active {
    color: #44584f;
}

.btn-default { 
    background-color: rgba(255, 255, 255, 0.34);
    border-color: rgba(185, 185, 185, 0.57);
}


.dropdown-menu { 
    background-color: rgba(231, 255, 231,1) ; 
}



.openerp .oe_application .oe_form_sheetbg {
    background-image: none;     
	/*background-color: rgba(0, 0, 0,0.5) ;*/
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAALklEQVQYV2NkYGDwYcAEUoxYJKQYGBieoUuABUEGIEvABZElUARhEmkw7chuAADNQgbpK/DBcQAAAABJRU5ErkJggg==) repeat;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
     border: 1px solid #aaa;
	 border-bottom: transparent;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.9+0,0+91 */
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.9) 0%, rgba(255,255,255,0) 91%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0) 91%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0) 91%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */ 
}

.openerp .oe_leftbar .oe_footer {
       background-color: rgba(0,0,0,0); 
}

.openerp .oe_list_content > thead { 
    background: rgba(0, 0, 0, 0.45);
	color:white;
}

.openerp th{
    text-align: center;
}
.oe-x2m-control-panel {
      background-color: rgba(255, 255, 255,0.4) ;
	  border-radius:5px 5px 0px 0px;
	  
}

.ui-menu {
   background-color: rgba(231, 255, 231,1) ; 
}

.nav-tabs {
    border-bottom: 1px solid #c3b9b9; 
}

.openerp .oe_form td.oe_form_group_cell_label {
    border-right: 1px solid #aeaeae; 
}

 .openerp .oe_form .oe_form_required input:not([disabled]):not([readonly]), .openerp .oe_form .oe_form_required select:not([disabled]):not([readonly]), .openerp .oe_form .oe_form_required textarea:not([disabled]):not([readonly]) {
    background-color: #A7C6B3 !important;
}

.openerp .oe_form input[type="text"], .openerp .oe_form input[type="password"], .openerp .oe_form input[type="file"], .openerp .oe_form select, .openerp .oe_form textarea {    
    background: rgba(255, 255, 255, 0.70); 
}

.openerp .oe_list_content > tbody > tr { 
    border-top: 1px solid rgba(0, 0, 0, 0.23);
}

.openerp .oe_list_content > tfoot {
    border-top: 2px solid rgba(0, 0, 0, 0.28);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    background: rgba(0, 0, 0, 0.17); 
}

 .openerp .oe_form header , .o_form_view > header  {
   background-color: rgba(255, 255, 255, 0);
   background-image: linear-gradient(to bottom, rgba(252, 252, 252, 0.3), rgba(255, 255, 255, 0.6));
}

.openerp ul.oe_form_status li.oe_active, .openerp ul.oe_form_status_clickable li.oe_active {
    background-color: #5382b9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#729fcf), to(#3465a4));
    background-image: -webkit-linear-gradient(top, #729fcf, #3465a4);
    background-image: -moz-linear-gradient(top, #729fcf, #3465a4);
    background-image: -ms-linear-gradient(top, #729fcf, #3465a4);
    background-image: -o-linear-gradient(top, #729fcf, #3465a4);
    background-image: linear-gradient(to bottom, #729fcf, #3465a4);
}

.openerp .oe_login button, .openerp button.oe_highlight {
    background-color: #156C5B;
}

.o_mail_thread .o_thread_message .o_thread_message_core.o_mail_note {
    background-color: rgba(255, 255, 255, 0.45) !important;
	padding:5px;
}

.o_mail_thread .o_thread_date_separator .o_thread_date {    
    padding: 5px 10px !important;
    background: rgba(255, 255, 255, 0.7) !important;
	border-radius:5px;
}

.o_dashboard .oe_dashboard .oe_action {
    background-color: rgba(255, 255, 255, 0.5); 
}

.o_calendar_container .o_calendar_view .o_calendar_widget {
    background-color: rgba(254, 254, 254, 0.8) !important;
}

.openerp .oe_form_nosheet > header {
    margin: -7px -16px 0 -16px; 
}

.navbar-default {
    background-color: rgba(255, 255, 255, 0.41);
    border-color: rgba(0, 0, 0, 0.25);
}

/*---Footer---*/
#wrapwrap > footer {
    height: 100%;
    background: rgba(0, 0, 0, 0.07);
	padding-top:1em;
}

footer .container {    
    padding-top: 15px;
}

.text-muted {
    color: rgba(0, 0, 0, 0.51);
}

/*---Mail---*/
.o_mail_chat .o_mail_chat_sidebar {
    background-color: rgba(2, 59, 5, 0.7) !important;
    color: #fff !important;
    opacity: 0.9;
}

/*Notifiaction color*/
.o_mail_chat .o_mail_annoying_notification_bar { 
    background-color: #84923E !important;    
    border-bottom: 1px solid rgba(0, 0, 0, 0.27) !important;
}

.o_mail_chat .o_mail_chat_content .o_mail_thread{
	    background-color: rgba(255, 255, 255, 0.6) !important;
}

.o_mail_chat .o_mail_chat_content {
    background-color: transparent !important;
}
.o_mail_thread .o_thread_date_separator { 
    border-bottom: solid rgba(255, 255, 255, 0.85) 2px !important;    
}

.o_mail_chat .o_mail_chat_sidebar .o_mail_chat_channel_item.o_active {
    background-color: rgba(0, 0, 0, 0.45) !important;
}

.o_mail_chat .o_mail_chat_content .o_chat_composer {
    border-top: 1px solid rgba(0, 0, 0, 0.52)  !important;
    background-color: rgba(0, 0, 0, 0.28)  !important;
}

 
 .oe_form_field_one2many .oe-view-manager .o_kanban_view, .oe_form_field_many2many .oe-view-manager .o_kanban_view {
    background-color: rgba(255, 255, 255, 0);
}
 
 .oe_form_field_one2many .oe-view-manager .o_kanban_view .o_kanban_record, .oe_form_field_many2many .oe-view-manager .o_kanban_view .o_kanban_record {
    box-shadow: none;
    border: 1px solid RGBA(0, 0, 0, 0.19);
}


.openerp thead { 
    background-color: rgba(255, 255, 255, 0.6);
}

.openerp .oe_pivot th {
    background-color: transparent;
}

.openerp .oe_pivot .oe-closed, .openerp .oe_pivot .oe-opened { 
    background-color: rgba(255, 255, 255, 0.5); 
}


.openerp .oe_pivot .measure-row {
    background-color: rgba(255, 255, 255, 0.6); 
	color: rgba(0, 0, 0, 0.75);
}

.o_kanban_view .o_kanban_group {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.oe_kanban_left li{
	list-style:none;
}

.openerp .oe_background_grey {
    background: rgba(255, 255, 255, 0.3) !important;
}

.o_kanban_view.o_kanban_dashboard.o_kanban_ungrouped .o_kanban_card_header, .o_kanban_view.o_kanban_dashboard.o_kanban_grouped .o_kanban_card_header { 
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.o_web_settings_dashboard {
    background: RGBA(255, 255, 255, 0) !important; 
}

.o_web_settings_dashboard .o_web_settings_dashboard_col > div:first-child {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.44) !important;
    background: rgba(255, 255, 255, 0.55) !important;
    border-radius: 2px;
    border: 1px solid RGBA(0, 0, 0, 0.26) !important;
}



.o_control_panel { 
    background-color: rgba(255, 255, 255, 0.4) ;
    border-bottom: 1px solid #a8a8a8;
}


.breadcrumb {    
    background-color: rgba(0, 0, 0, 0.0) ;    
}

.o_form_view .o_form_sheet_bg {
   	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAALklEQVQYV2NkYGDwYcAEUoxYJKQYGBieoUuABUEGIEvABZElUARhEmkw7chuAADNQgbpK/DBcQAAAABJRU5ErkJggg==) repeat;
    border-bottom: 1px solid #ddd;
}

.o_form_view {
    background-color: rgba(0, 0, 0, 0.0) ;    
}

.o_form_view .oe_chatter {
	 
}


.o_control_panel .breadcrumb > li > a {
    color: #6d295a;
 
}


.btn-primary {
    color: white;
    background-color: #5d5c90;
    border-color: #5d5c90;
}

.btn-primary,.oe_highlight {
    color: white;
    background-color: #5d5c90;
    border-color: #5d5c90;
}

.btn-primary:hover,.oe_highlight:hover {
    color: white;
    background-color: #116786;
    border-color: #116786;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: white;
    background-color: #5d5c90;
}

a{
	 color: #5d5c90;
}


.o_form_view .o_form_sheet_bg .o_form_sheet {
   background-color: rgba(231, 255, 231,1) ;
	border-radius:5px;
	background-image : url("images/background_1.jpg");
}

.o_list_view{
	background-color: rgba(255, 255, 255, 0.1) ;   
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.3) ;   
}

.o_list_view thead {
    color: #4c4c4c;
    background-color: rgba(255,255,255,0.6);    
}

.o_list_view tfoot {
    background-color: rgba(255, 255, 255, 0.6) ; 
}

.btn-link {
    color: #5d5c90; 
}

.o_form_view .o_horizontal_separator {
    color: #5d5c90;  
}

.o_kanban_view .oe_kanban_color_0 {
    /* background-color: #FFFFFF; */
    color: #424040;
	 background-color: rgba(255, 255, 255, 0.5) !important; 
}




.oe_view_nocontent { 
    color: #424040; 
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #383737; 
}

.o_mail_thread .o_thread_message .o_thread_message_core .o_mail_info { 
    color: #4e4d4d;
}


.o_kanban_view.o_kanban_dashboard.o_salesteam_kanban .o_sales_dashboard {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

. 

.o_kanban_view.o_kanban_dashboard.o_kanban_ungrouped .o_kanban_card_content .o_kanban_primary_bottom{
     background-color: rgba(0, 0, 0, 0.09) !important; 
}
 
 .o_kanban_view.o_kanban_dashboard.o_kanban_ungrouped .o_kanban_card_content .o_kanban_primary_bottom  {
    background-color: rgb(209, 227, 210); 
}

.o_form_view .o_form_required.o_form_input, .o_form_view .o_form_required .o_form_input, .o_form_view .o_form_required.o_form_textarea, .o_form_view .o_form_required .o_form_textarea {
    background-color: #d2ffdf;
}
